ECS/frontend/node_modules
ECS/backend/node_modules

ECS/frontend/package-lock.json
ECS/backend/package-lock.json

EKS/frontend/package-lock.json
EKS/backend/package-lock.json

EKS/frontend/node_modules
EKS/backend/node_modules

ECS/.terraform
EKS/.terraform

ECS/.terraform.lock.hcl
EKS/.terraform.lock.hcl

ECS/.terraformrc
EKS/.terraformrc

ECS/terraform.tfstate
EKS/terraform.tfstate

ECS/terraform.tfstate.backup
EKS/terraform.tfstate.backup

ECS/.terraform.tfvars
EKS/.terraform.tfvars

./.DS_Store